.titlebutton {
    -fx-background-color: black;
    -fx-border-width: 2px;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-padding: 15px 32px;
    -fx-text-alignment: center;
    -fx-border-radius: 3px;
    -fx-font-size: 20px;
}
.background{
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-padding: 5px 5px;
    -fx-alignment: center;
}
.title{
    -fx-text-fill: white;
    -fx-font-size: 50px;
}
.smalltitle{
    -fx-text-fill: white;
    -fx-font-size: 40px;
}
.names{
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-text-alignment: right;
    -fx-alignment: center-right;
    -fx-padding: 3px 3px;
}
.dialogue{
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-alignment: top-left;
    -fx-wrap-text: true;
}
.button {
    -fx-background-color: black;
    -fx-border-width: 2px;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
    -fx-text-alignment: center;
    -fx-border-radius: 3px;
    -fx-font-size: 20px;
}
.statbutton{
    -fx-background-color: white;
    -fx-text-fill: white;
}
.normalText{
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-padding: 3px 3px;
}
.smallbutton{
    -fx-background-color: black;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-padding: 1px 2px;
    -fx-text-alignment: center;
    -fx-border-radius: 3px;
    -fx-font-size: 10px;
}
.hpbartext{
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-fit-to-height: true;

}
.hpprogress {
    -fx-accent: red;
    -fx-max-height: 15px;
    -fx-max-width: 120px;
}
.hpprogress .track{
    -fx-text-box-border: white;
    -fx-border-radius: 5px;
    -fx-control-inner-background: white;
    -fx-background-insets: 0px;
    -fx-background-radius: 10;
}
.hpprogress .bar {
    -fx-padding: 10px;
    -fx-background-radius: 10;
    -fx-background-insets: 2px;
}
.mpprogress {
    -fx-accent: #439de3;
    -fx-max-height: 15px;
    -fx-max-width: 120px;
}
.mpprogress .track{
    -fx-text-box-border: white;
    -fx-border-radius: 5px;
    -fx-control-inner-background: white;
    -fx-background-insets: 0px;
    -fx-background-radius: 10;
}
.mpprogress .bar {
    -fx-padding: 10px;
    -fx-background-radius: 10;
    -fx-background-insets: 2px;
}